/*
    =============== 
    Fonts
    ===============
    */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
/*
    =============== 
    Variables
    ===============
    */

:root {
    /* dark shades of primary color*/
    --clr-primary-1: hsl(205, 86%, 17%);
    --clr-primary-2: hsl(205, 77%, 27%);
    --clr-primary-3: hsl(205, 72%, 37%);
    --clr-primary-4: hsl(205, 63%, 48%);
    /* primary/main color */
    --clr-primary-5: #49a6e9;
    /* lighter shades of primary color */
    --clr-primary-6: hsl(205, 89%, 70%);
    --clr-primary-7: hsl(205, 90%, 76%);
    --clr-primary-8: hsl(205, 86%, 81%);
    --clr-primary-9: hsl(205, 90%, 88%);
    --clr-primary-10: hsl(205, 100%, 96%);
    /* darkest grey - used for headings */
    --clr-grey-1: hsl(209, 61%, 16%);
    --clr-grey-2: hsl(211, 39%, 23%);
    --clr-grey-3: hsl(209, 34%, 30%);
    --clr-grey-4: hsl(209, 28%, 39%);
    /* grey used for paragraphs */
    --clr-grey-5: hsl(210, 22%, 49%);
    --clr-grey-6: hsl(209, 23%, 60%);
    --clr-grey-7: hsl(211, 27%, 70%);
    --clr-grey-8: hsl(210, 31%, 80%);
    --clr-grey-9: hsl(212, 33%, 89%);
    --clr-grey-10: hsl(210, 36%, 96%);
    --clr-white: #fff;
    --clr-red-dark: hsl(360, 67%, 44%);
    --clr-red-light: hsl(360, 71%, 66%);
    --clr-green-dark: hsl(124, 36%, 32%);
    --clr-green-light: rgb(118, 184, 40);
    --clr-pink-dark: rgb(238, 62, 129);
    --clr-yellow-light: rgb(248, 191, 7);
    --clr-yellow-dark: rgb(253, 217, 97);
    --clr-black: #222;
    --ff-primary: "Roboto", sans-serif;
    --ff-secondary: "Open Sans", sans-serif;
    --ff-third: "Fredoka One", cursive;
    --transition: all 0.3s linear;
    --spacing: 0.15rem;
    --radius: 0.5rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --max-width: 1170px;
    --fixed-width: 620px;
}

/*
    =============== 
    Global Styles
    ===============
    */

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--ff-secondary);
    background: var(--clr-yellow-light);
    color: var(--clr-grey-1);
    line-height: 2;
    font-size: 0.875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img:not(.logo) {
    width: 100%;
}

img {
    display: block;
}

h1,
h2,
h3,
h4 {
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    line-height: 1.25;
    margin-bottom: 0.75rem;
    font-family: var(--ff-primary);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.25rem;
}

h4 {
    font-size: 0.875rem;
}

p {
    margin-bottom: 1.25rem;
    color: var(--clr-grey-5);
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }

    body {
        font-size: 1rem;
    }

    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

/*  global classes */

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--clr-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing);
    display: inline-block;
    transition: var(--transition);
    font-size: 0.875rem;
    border: 2px solid var(--clr-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius);
}

.btn:hover {
    color: var(--clr-white);
    background: var(--clr-black);
}

button:focus {
    outline: 0px dotted;
    outline: 0px auto -webkit-focus-ring-color;
}

/* section */
.section {
    padding: 5rem 0;
}

.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
}

@media screen and (min-width: 992px) {
    .section-center {
        width: 95vw;
    }
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}

/*
    =============== 
    Section 1 HOME
    ===============
    */

.home-section .jumbotron {
    background-image: url("/frontend/img/boombastic/home.jpg");
    height: 50vmin;
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 0px !important;
}

.home-section .intro {
    padding-top: 50px;
}

.intro img {
    margin-bottom: 2em;
    width: 220px;
}

.intro h3 {
    color: var(--clr-pink-dark);
    background-color: var(--clr-white);
    padding: 5px;
    display: inline;
}

/*
=============== 
Section 2 Locations
===============
*/

.location-section {
    padding: 4rem 0;
}

#paralax-image {
    background-image: url("/frontend/img/photo/location.jpg");
    height: 300px;
    margin-bottom: 50px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.location h1 {
    color: var(--clr-green-light);
    font-family: var(--ff-third);
}

.location h4 {
    color: var(--clr-pink-dark);
}

.location p {
    color: var(--clr-pink-dark);
}

.location a {
    color: var(--clr-pink-dark);
}

.location span {
    background-color: var(--clr-white);
    padding: 0 15px;
}

/*
=============== 
Section 3 Our Menu
===============
*/
/* .ourmenu-section {
    padding: 2rem 0;
} */

.ourmenu-section .jumbotron {
    background-image: url("/frontend/img/boombastic/ourmenu.jpg");
    height: 100%;
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 0px !important;
}

.ourmenu-section .intro {
    padding-top: 50px;
}

.intro h5 {
    font-weight: bold;
    font-family: var(--ff-third);
    color: var(--clr-pink-dark);
}

.menu-btn {
    margin-top: 1rem;
    background: var(--clr-yellow-light);
    border-color: var(--clr-yellow-light);
    color: var(--clr-pink-dark);
    border-radius: 0;
    font-weight: bold;
}

.menu-btn:hover {
    background: transparent;
    color: var(--clr-pink-dark);
}

/*
=============== 
Who We Are
===============
*/
.whoweare-section {
    padding: 5vmin 0 13vmin;
    background-color: var(--clr-white);
    height: 100%;
    position: relative;
    overflow: hidden;
}

.whoweare-section .row .col-md-6 .restaurant img {
    position: absolute;
    width: 50%;
    border-radius: 0.2em;
    top: 0;
    left: 0;
}

/* .whoweare-section .row .col-md-6:last-child {
    position: relative;
} */

.whoweare-section .row .col-md-6 .ingredient img {
    position: absolute;
    width: 50%;
    border-radius: 0.2em;
    top: 0;
    left: 0;
}

.whoweare-section .row .col-md-6 .panel {
    top: 7vmin;
    left: -18vmin;
    background: var(--clr-yellow-light);
    text-align: left;
    padding: 10vmin 10vmin 10vmin 10vmin;
    box-shadow: var(--light-shadow);
}

.whoweare-section .row .col-md-6 .panel h1 {
    font-family: var(--ff-third);
    padding: 0.4em 0;
    color: var(--clr-pink-dark);
}

.whoweare-section .row .col-md-6 .panel p {
    font-size: 1em;
    color: var(--clr-pink-dark);
}

/*
=============== 
Gallery Section
===============
*/

.gallery-section {
    position: relative;
    /* background-color: var(--clr-white); */
}

.gallery-section h1 {
    font-family: var(--ff-third);
    color: var(--clr-pink-dark);
}

/*
=============== 
Catering Section
===============
*/

.catering-section {
    background-color: var(--clr-white);
    padding: 15vmin 0;
    box-shadow: var(--dark-shadow);
    position: relative;
}

.catering-section .row .col-md-6 .catering h1 {
    font-size: 2rem;
    color: var(--clr-pink-dark);
    font-family: var(--ff-third);
    background-color: var(--clr-yellow-light);
    padding: 1rem 1rem;
}

.catering-section .row .col-md-6 .catering {
    z-index: 1;
    position: absolute;
    top: -3vmin;
    left: -3vmin;
}

.catering-section .row .col-md-6 .catering-img .bag {
    width: 20%;
    position: absolute;
    right: 10vmin;
    bottom: -5vmin;
}

.catering-section .row .col-md-6 .catering-img {
    z-index: 0;
    position: relative;
    /* background-color: var(--clr-primary-2); */
}

/*
=============== 
Form Catering Text
===============
*/

.catering-section .catering-text h3 {
    font-family: var(--ff-third);
    color: var(--clr-pink-dark);
}

.catering-section .catering-text p {
    color: var(--clr-pink-dark);
}

/*
=============== 
Form Style
===============
*/

label {
    color: var(--clr-pink-dark);
}

.form-control::-webkit-input-placeholder {
    color: var(--clr-pink-dark);
}

.form-control::placeholder {
    color: var(--clr-pink-dark);
}

.form-control {
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-color: var(--clr-pink-dark);
}

.form-control:focus {
    border-color: var(--clr-pink-dark) !important;
    box-shadow: 0 0 5px var(--clr-pink-dark) !important;
}

.catering-btn {
    border: 0;
    box-shadow: 0;
    color: var(--clr-pink-dark);
    text-transform: initial;
}

.catering-btn span {
    font-family: var(--ff-third);
}

.catering-btn:hover {
    background: var(--clr-pink-dark);
}

/*
=============== 
Contact Section
===============
*/

.contact-section .jumbotron {
    background-image: url("/frontend/img/boombastic/contact.jpg");
    height: 40vmin;
    width: 100%;
    background-size: cover;
    background-position: center;
    color: #fff;
    border-radius: 0px !important;
}

.contact-section .overlay {
    background-color: var(--clr-black);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
}

.contact-section .jumbotron:hover .overlay {
    opacity: 1;
}

.contact-text h3 {
    font-family: var(--ff-third);
    color: var(--clr-pink-dark);
}

.contact-text p {
    color: var(--clr-white);
}

/*
=============== 
Navbar
===============
*/
nav {
    background: var(--clr-yellow-light);
    box-shadow: var(--light-shadow);
}

.navbar {
    z-index: 2;
}

.nav-center {
    background: var(--clr-yellow-light);
    box-shadow: var(--light-shadow);
    overflow: hidden;
}

.mx-auto a {
    color: var(--clr-green-dark);
    font-size: 0.9rem;
    text-transform: capitalize;
    /* letter-spacing: var(--spacing); */
    display: inline-block;
    padding: 0.3rem 1rem;
    transition: var(--transition);
}

.mx-auto a:hover {
    /* background: var(--clr-primary-8); */
    color: var(--clr-pink-dark);
    padding-left: 1.5rem;
    text-decoration: none;
}

/*
    =============== 
    Sidebar
    ===============
    */
.sidebar-toggle {
    position: fixed;
    top: 5rem;
    right: 5rem;
    font-size: 2rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-primary-5);
    transition: var(--transition);
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
    z-index: 3;
}

.sidebar-toggle:hover {
    color: var(--clr-primary-7);
}

@keyframes bounce {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.close-btn {
    font-size: 1.75rem;
    background: transparent;
    border-color: transparent;
    color: var(--clr-white);
    transition: var(--transition);
    cursor: pointer;
    color: var(--clr-white);
}

.close-btn:hover {
    color: var(--clr-red-light);
    transform: rotate(360deg);
}

.logo_icon {
    justify-self: center;
    height: 3rem;
    margin-top: 1rem;
}

.logo {
    justify-self: center;
    height: 40px;
}

.links a {
    background-color: #fff;
    font-family: var(--ff-third);
    display: inline-flex;
    font-size: 1rem;
    text-transform: capitalize;
    padding: 0.2rem 0.3rem;
    color: var(--clr-pink-dark);
    transition: var(--transition);
    margin: 0 0 0.3rem 1.5rem;
}

.links a:hover {
    background: var(--clr-pink-dark);
    color: var(--clr-white);
    padding-left: 1.75rem;
    text-decoration: none;
}

.active a {
    background: var(--clr-pink-dark);
    color: var(--clr-white);
    padding-left: 1.75rem;
    text-decoration: none;
}

.social-icons {
    justify-self: center;
    display: flex;
    padding-bottom: 2rem;
}

.social-icons a {
    font-size: 1.5rem;
    margin: 0 0.5rem;
    color: var(--clr-white);
    transition: var(--transition);
}

.social-icons a:hover {
    color: var(--clr-pink-dark);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr-yellow-dark);
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1rem;
    box-shadow: var(--clr-red-dark);
    transition: var(--transition);
    transform: translate(-100%);
    z-index: 3;
}

.show-sidebar {
    transform: translate(0);
}

@media screen and (min-width: 600px) {
    .sidebar {
        width: 400px;
    }

    .links-nav a {
        font-size: 1rem;
        padding: 0.2rem 1rem;
    }
}

footer {
    background: var(--clr-yellow-dark);
    padding: 1rem 1rem;
}

footer p {
    color: var(--clr-white);
    text-align: center;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    margin-bottom: 0;
}
